{% extends 'base.html' %}

{% block content %}
  <main>
    <div class="container">
      <h2>Confirmar Exclusão da Reserva</h2>
      <p>Você tem certeza de que deseja excluir a reserva "{{ reservation.car }} - {{ reservation.user }} - {{ reservation.start_date }} - {{ reservation.end_date }}"?</p>
      <form method="post" action="{% url 'reservation_delete' reservation.id %}">
        {% csrf_token %}
        <button type="submit">Sim, excluir</button>
        <a href="{% url 'reservation_list' %}">Cancelar</a>
      </form>
    </div>
  </main>
{% endblock %}
