{%extends 'base.html'%}

{%block title%}Home{%endblock title%}

{%block content%}

<section class="home">

  <main>

    <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Catálogo de carros</h1>
        <p class="lead text-body-secondary">Este é o catálogo de carros, escolha seu carro e alugue-o</p>
      </div>
    </div>
    </section>
    
    <div class="album py-5 bg-body-tertiary">
    <div class="container">
    
    
    
        <footer class="text-body-secondary py-5 ">
          <div class="container">
            <p class="float-end mb-1">
              <a href="#">Voltar ao Topo</a>
            </p>
            <p class="mb-1">Locadora Chico © Todos os direitos reservados</p>
            <p class="mb-0"><a href="/"></a><a href="/docs/5.3/getting-started/introduction/"></a></p>
          </div>
          </footer>
          <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> 
</section>       
{%endblock content%}